<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<context:component-scan base-package="lc" />
    <context:property-placeholder location="classpath:jdbc.properties,classpath:mail.properties"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- property name="maxActive" value="100"/ -->
        <!-- property name="maxWait" value="1000"/ -->
        <!-- property name="poolPreparedStatements" value="true"/ -->
        <property name="defaultAutoCommit" value="true"/>
    </bean>
    
    <!-- Base iBatis SqlMap Definitions -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="/WEB-INF/classes/sql-map-config.xml"/>
    </bean>

	 
    <bean id="lcDAO" class="lc.common.LcDAO">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>
    
    <!-- Aspect Definitions -->
    <aop:config>
        <aop:advisor pointcut="execution(* *..*Facade.*(..)) or execution(* *..*Service.*(..))" advice-ref="txAdvice"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*"  rollback-for="LcException" timeout="12000"/>
            <tx:method name="executeService*" rollback-for="LcException"  timeout="12000"/>
            <tx:method name="*" read-only="true"  timeout="12000"/>
        </tx:attributes>
    </tx:advice>    
        
</beans>

