<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="lc.admin.member.service.MemberMapper">

	<select id="listMember" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT   USER_KEY
					,USER_ID
					,USER_NM
					,DONA_NM
					,PASSWORD
					,BIRTH_YMD
					,CAST( DATE_FORMAT( REG_YMD,'%Y-%m-%d' ) AS CHAR(10) ) REG_YMD
					,DUTY_CD
					,AUTH_CD
					,TEL_NO
					,HP_NO
					,USE_YN
					,UPD_ID
					,UPD_DATE
					,CRE_ID
					,CRE_DATE
			FROM MEMBER
			WHERE 1 = 1
			]]>		
			<if test="USER_NM != '' and USER_NM != null">
			AND USER_NM LIKE CONCAT('%', #{USER_NM} , '%')
			</if>				
			ORDER BY ${sidx} ${sord} 
			LIMIT ${page}, ${rows}
	</select>
	
	<select id="listMemberCount" parameterType="hashmap" resultType="int" >
		    <![CDATA[
			SELECT   COUNT(*) ROWCOUNT
			FROM MEMBER
			WHERE 1 = 1
			]]>		
			<if test="USER_NM != '' and USER_NM != null">
			AND USER_NM LIKE CONCAT('%', #{USER_NM} , '%')
			</if>
	</select>
	
	<insert id="insertMember" parameterType="hashmap" >
		    <![CDATA[
				INSERT INTO MEMBER 
				(  
					 USER_ID
					,USER_NM
					,DONA_NM
					,PASSWORD
					,BIRTH_YMD
					,REG_YMD
					,DUTY_CD
					,AUTH_CD
					,TEL_NO
					,HP_NO
					,USE_YN
					,UPD_ID
					,UPD_DATE
					,CRE_ID
					,CRE_DATE
				)VALUES(
					 #{USER_ID}
					,#{USER_NM}
					,#{DONA_NM, jdbcType=VARCHAR}
					,#{PASSWORD}
					,#{BIRTH_YMD, jdbcType=VARCHAR}
					,NOW()
					,'99'
					,#{AUTH_CD, jdbcType=VARCHAR}
					,#{TEL_NO, jdbcType=VARCHAR}
					,#{HP_NO, jdbcType=VARCHAR}
					,#{USE_YN, jdbcType=VARCHAR}
					,#{UPD_ID}
					,NOW()
					,#{CRE_ID}
					,NOW()
				)
			]]>			
	</insert>
	
	<update id="updateMember" parameterType="hashmap" >
		    <![CDATA[
				UPDATE MEMBER
				SET  USER_ID	= #{USER_ID}
					,USER_NM	= #{USER_NM}
					,DONA_NM	= #{DONA_NM, jdbcType=VARCHAR}
					,PASSWORD	= #{PASSWORD}
					,BIRTH_YMD	= #{BIRTH_YMD, jdbcType=VARCHAR}
					,REG_YMD	= #{REG_YMD}
					,DUTY_CD	= #{DUTY_CD, jdbcType=VARCHAR}
					,AUTH_CD	= #{AUTH_CD, jdbcType=VARCHAR}
					,TEL_NO		= #{TEL_NO, jdbcType=VARCHAR}
					,HP_NO		= #{HP_NO, jdbcType=VARCHAR}
					,USE_YN		= #{USE_YN, jdbcType=VARCHAR}
					,UPD_ID		= #{UPD_ID}
					,UPD_DATE	= NOW()				
				WHERE USER_KEY = #{USER_KEY}
			]]>			
	</update>
	
	<delete id="deleteMember" parameterType="hashmap" >
		    <![CDATA[
			DELETE FROM MEMBER
			WHERE USER_KEY = #{USER_KEY}
			]]>			
	</delete>
	
	
</mapper>
