<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="lc.admin.settle.service.SettleMapper">

	<select id="listWeekSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT DATE_FORMAT(CAL_YMD, '%Y-%m-%d') CAL_YMD
				  ,PREV_AMT
				  ,IN_AMT
				  ,OUT_AMT
				  ,NEXT_AMT
				  ,WS_NM
				  ,END_YN					
			FROM WEEK_SUM
			WHERE 1 = 1
			]]>		
			<if test="CAL_YMD != null and CAL_YMD != ''">
			AND CAL_YMD = #{CAL_YMD}
			</if>
			<if test="YEAR != null and YEAR != ''">
			AND CAL_YMD LIKE CONCAT(#{YEAR}, '%')
			</if>		
			<if test="MON != null and MON != ''">
			AND SUBSTR(CAL_YMD, 5) LIKE CONCAT(#{MON}, '%')
			</if>									
			ORDER BY ${sidx} ${sord} 
			LIMIT ${page}, ${rows}
	</select>
	
	<select id="listWeekSumCount" parameterType="hashmap" resultType="int" >
		    <![CDATA[
			SELECT   COUNT(*) ROWCOUNT
			FROM WEEK_SUM
			WHERE 1 = 1
			]]>		
			<if test="CAL_YMD != null and CAL_YMD != ''">
			AND CAL_YMD = #{CAL_YMD}
			</if>	
			<if test="YEAR != null and YEAR != ''">
			AND CAL_YMD LIKE CONCAT(#{YEAR}, '%')
			</if>		
			<if test="MON != null and MON != ''">
			AND SUBSTR(CAL_YMD, 5) LIKE CONCAT(#{MON}, '%')
			</if>				
	</select>	

	<select id="listIn" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT C.CD_NM
			      ,SUM(A.INOUT_AMT ) INOUT_AMT
			      ,CONCAT('A',MAX(C.ORD_NO)) ORD_NO
			FROM WEEK_INOUT A,
				  MEMBER B,
				  CODE C 
			WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
							   FROM WEEK_SUM
							   WHERE CAL_YMD < #{CAL_YMD}
							   ) 
			AND A.CAL_YMD <= #{CAL_YMD}
			AND A.INOUT_CD = #{INOUT_CD} 
			AND A.USER_KEY = B.USER_KEY
			AND A.INOUT_AMT > 0
			AND A.INOUT_ITEM_CD = C.CD_VAL
			AND C.HICD_VAL = 'DONA_CD'
			GROUP BY C.CD_NM
			UNION ALL
			SELECT CONCAT(C.CD_NM, CASE WHEN IFNULL(A.REMARK,'') = '' THEN '' ELSE CONCAT('(',A.REMARK,')') END)
				  ,A.INOUT_AMT
				  ,CONCAT('Z',C.ORD_NO) ORD_NO
			FROM WEEK_INOUT A,
				 CODE C
			WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
							   FROM WEEK_SUM
							   WHERE CAL_YMD < #{CAL_YMD}
							   ) 
			AND A.CAL_YMD <= #{CAL_YMD}
			AND A.INOUT_CD = #{INOUT_CD}
			AND A.INOUT_AMT > 0
            AND A.INOUT_ITEM_CD = C.CD_VAL
            AND A.USER_KEY IS NULL
            AND C.HICD_VAL = 'IN_CD'
            ORDER BY ORD_NO			 				 
			]]>		
	</select>	
	
	<select id="listOut" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CONCAT(C.CD_NM, CASE WHEN IFNULL(A.REMARK,'') = '' THEN '' ELSE CONCAT('(',A.REMARK,')') END) CD_NM
				  ,A.INOUT_AMT
				  ,CONCAT('Z',C.ORD_NO) ORD_NO
			FROM WEEK_INOUT A,
				 CODE C
			WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
							   FROM WEEK_SUM
							   WHERE CAL_YMD < #{CAL_YMD}
							   ) 
			AND A.CAL_YMD <= #{CAL_YMD}
			AND A.INOUT_CD = #{INOUT_CD}
			AND A.INOUT_AMT > 0
            AND A.INOUT_ITEM_CD = C.CD_VAL
            AND A.USER_KEY IS NULL
            AND C.HICD_VAL = 'OUT_CD'
            ORDER BY ORD_NO			 				 
			]]>		
	</select>	
	
	<select id="getInoutSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT SUM(A.INOUT_AMT) INOUT_AMT
			FROM WEEK_INOUT A
			WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
							   FROM WEEK_SUM
							   WHERE CAL_YMD < #{CAL_YMD}
							   ) 
			AND A.CAL_YMD <= #{CAL_YMD}
			AND A.INOUT_CD = #{INOUT_CD}
			AND A.INOUT_AMT > 0
			]]>		
	</select>		
	
	<select id="getNextAmt" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT NEXT_AMT, END_YN, CAL_YMD
			FROM WEEK_SUM
			WHERE CAL_YMD = (	SELECT MAX(CAL_YMD) 
									FROM WEEK_SUM
									WHERE CAL_YMD < #{CAL_YMD} )
			]]>		
	</select>
			
	<select id="getWeekSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CAL_YMD
				  ,PREV_AMT
				  ,IN_AMT
				  ,OUT_AMT
				  ,NEXT_AMT
				  ,WS_NM
				  ,END_YN
			FROM WEEK_SUM
			WHERE CAL_YMD = #{CAL_YMD}
			]]>		
	</select>
			
			
	<select id="getEndYnForPeriod" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT END_YN, CAL_YMD
			FROM WEEK_SUM
			WHERE CAL_YMD = (	SELECT MIN(CAL_YMD) 
									FROM WEEK_SUM
									WHERE CAL_YMD >= #{CAL_YMD} )
			]]>		
	</select>			
			
	<select id="listInWeekSumDetl" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT C.CD_NM
			      ,SUM(A.INOUT_AMT ) INOUT_AMT
			      ,CONCAT('A',MAX(C.ORD_NO)) ORD_NO
			FROM WEEK_INOUT A,
				  MEMBER B,
			     CODE C,
			     WEEK_SUM_DETL D
			WHERE D.CAL_YMD = #{CAL_YMD}
			AND   D.INOUT_CAL_YMD = A.CAL_YMD 	
			AND   D.INOUT_SEQ_NO = A.INOUT_SEQ_NO					
			AND   A.INOUT_CD = #{INOUT_CD}
			AND   A.USER_KEY = B.USER_KEY
			AND A.INOUT_AMT > 0
			AND A.INOUT_ITEM_CD = C.CD_VAL
			AND C.HICD_VAL = 'DONA_CD'
			GROUP BY C.CD_NM
			UNION ALL
			SELECT CONCAT(C.CD_NM, CASE WHEN IFNULL(A.REMARK,'') = '' THEN '' ELSE CONCAT('(',A.REMARK,')') END)
				  ,A.INOUT_AMT
				  ,CONCAT('Z',C.ORD_NO) ORD_NO
			FROM WEEK_INOUT A,
				 CODE C,
				 WEEK_SUM_DETL D
			WHERE D.CAL_YMD = #{CAL_YMD}
			AND   D.INOUT_CAL_YMD = A.CAL_YMD 
			AND   D.INOUT_SEQ_NO = A.INOUT_SEQ_NO	
			AND A.INOUT_CD = #{INOUT_CD}
			AND A.INOUT_AMT > 0
			AND A.INOUT_ITEM_CD = C.CD_VAL
			AND A.USER_KEY IS NULL
			AND C.HICD_VAL = 'IN_CD'
			ORDER BY ORD_NO
			]]>		
	</select>	
	
	<select id="listOutWeekSumDetl" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[	
			SELECT CONCAT(C.CD_NM, CASE WHEN IFNULL(A.REMARK,'') = '' THEN '' ELSE CONCAT('(',A.REMARK,')') END) CD_NM
				  ,A.INOUT_AMT
				  ,CONCAT('Z',C.ORD_NO) ORD_NO
			FROM WEEK_INOUT A,
				 CODE C,
				 WEEK_SUM_DETL D
			WHERE D.CAL_YMD = #{CAL_YMD}
			AND   D.INOUT_CAL_YMD = A.CAL_YMD 
			AND   D.INOUT_SEQ_NO = A.INOUT_SEQ_NO	
			AND A.INOUT_CD = #{INOUT_CD}
			AND A.INOUT_AMT > 0
			AND A.INOUT_ITEM_CD = C.CD_VAL
			AND A.USER_KEY IS NULL
			AND C.HICD_VAL = 'OUT_CD'
			ORDER BY ORD_NO		    
			]]>		
	</select>	
	
	<insert id="insertWeekSum" parameterType="hashmap" >
		    <![CDATA[
		    INSERT INTO WEEK_SUM
		    ( CAL_YMD 
		     ,PREV_AMT
		     ,IN_AMT
		     ,OUT_AMT
		     ,NEXT_AMT
		     ,WS_NM
		     ,END_YN
		     ,UPD_ID
		     ,UPD_DATE
		     ,CRE_ID
		     ,CRE_DATE
		    ) 
			SELECT A.CAL_YMD
			      ,IFNULL(B.NEXT_AMT,0)
			      ,IFNULL(C.IN_AMT,0)
			      ,IFNULL(C.OUT_AMT,0)
			      ,(IFNULL(B.NEXT_AMT,0) + IFNULL(C.IN_AMT,0) - IFNULL(C.OUT_AMT,0))
			      ,NULL
			      ,#{END_YN}
				  ,#{UPD_ID}
				  ,NOW()
				  ,#{CRE_ID}
				  ,NOW()			      
			FROM ( SELECT #{CAL_YMD} CAL_YMD ) A LEFT OUTER JOIN 
			     ( SELECT #{CAL_YMD} CAL_YMD
					    	  ,NEXT_AMT
					    FROM WEEK_SUM
						WHERE CAL_YMD = (	SELECT MAX(CAL_YMD) 
												FROM WEEK_SUM
												WHERE CAL_YMD < #{CAL_YMD} )
			      ) B ON A.CAL_YMD = B.CAL_YMD
					LEFT OUTER JOIN (
			         SELECT A.CAL_YMD
			               ,SUM(CASE WHEN A.INOUT_CD = '01' THEN INOUT_AMT ELSE 0 END) IN_AMT
			               ,SUM(CASE WHEN A.INOUT_CD = '02' THEN INOUT_AMT ELSE 0 END) OUT_AMT
			         FROM (
							SELECT #{CAL_YMD} CAL_YMD
							      ,SUM(A.INOUT_AMT) INOUT_AMT
							      ,A.INOUT_CD
							FROM WEEK_INOUT A
							WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
											   FROM WEEK_SUM
											   WHERE CAL_YMD < #{CAL_YMD}
											   ) 
							AND A.CAL_YMD <= #{CAL_YMD}
							AND A.INOUT_AMT > 0							
							GROUP BY A.INOUT_CD
						) A
						GROUP BY A.CAL_YMD
				 ) C ON A.CAL_YMD = C.CAL_YMD
			]]>		
	</insert>
		
	<update id="updateEndYn" parameterType="hashmap" >
		    <![CDATA[
		    UPDATE WEEK_SUM
		    SET END_YN = #{END_YN}
		       ,UPD_ID = #{UPD_ID}
		       ,UPD_DATE = NOW()
		    WHERE CAL_YMD = #{CAL_YMD}
			]]>		
	</update>		
		
	<insert id="insertWeekSumDetl" parameterType="hashmap" >
		    <![CDATA[
		    INSERT INTO WEEK_SUM_DETL
		    (CAL_YMD, DETL_SEQ_NO, INOUT_CAL_YMD, INOUT_SEQ_NO, UPD_ID, UPD_DATE, CRE_ID, CRE_DATE)	
			SELECT #{CAL_YMD}
				  ,(IFNULL((SELECT MAX(DETL_SEQ_NO)+1 FROM WEEK_SUM_DETL WHERE CAL_YMD = #{CAL_YMD}),1) + (@RNUM := @RNUM + 1))
			      ,A.CAL_YMD
				  ,A.INOUT_SEQ_NO
				  ,#{UPD_ID}
				  ,NOW()
				  ,#{CRE_ID}
				  ,NOW()
			FROM WEEK_INOUT A
			    ,( SELECT @RNUM := 0 ) R
			WHERE A.CAL_YMD > (SELECT IFNULL(MAX(CAL_YMD), DATE_ADD(#{CAL_YMD}, INTERVAL -1 DAY))
							   FROM WEEK_SUM
							   WHERE CAL_YMD < #{CAL_YMD}
							   ) 
			AND A.CAL_YMD <= #{CAL_YMD}
			AND A.INOUT_AMT > 0
			]]>		
	</insert>	
	
	<delete id="deleteWeekSum" parameterType="hashmap" >
		    <![CDATA[
		    DELETE FROM WEEK_SUM
			WHERE CAL_YMD = #{CAL_YMD}
			]]>		
	</delete>	
	
	<delete id="deleteWeekSumDetl" parameterType="hashmap" >
		    <![CDATA[
		    DELETE FROM WEEK_SUM_DETL
			WHERE CAL_YMD = #{CAL_YMD}
			]]>		
	</delete>		
	
	<!-- ****************************************************************************** -->    
	
	<select id="listMonSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT DATE_FORMAT(CONCAT(CAL_YM,'01'), '%Y-%m') CAL_YM
				  ,PREV_AMT
				  ,IN_AMT
				  ,OUT_AMT
				  ,NEXT_AMT
				  ,END_YN					
			FROM MON_SUM
			WHERE 1 = 1
			]]>		
			<if test="CAL_YM != null and CAL_YM != ''">
			AND CAL_YM = #{CAL_YM}
			</if>	
			<if test="YEAR != null and YEAR != ''">
			AND CAL_YM LIKE CONCAT(#{YEAR}, '%')
			</if>						
			ORDER BY ${sidx} ${sord} 
			LIMIT ${page}, ${rows}
	</select>
	
	<select id="listMonSumCount" parameterType="hashmap" resultType="int" >
		    <![CDATA[
			SELECT   COUNT(*) ROWCOUNT
			FROM MON_SUM
			WHERE 1 = 1
			]]>		
			<if test="CAL_YM != null and CAL_YM != ''">
			AND CAL_YM = #{CAL_YM}
			</if>	
			<if test="YEAR != null and YEAR != ''">
			AND CAL_YM LIKE CONCAT(#{YEAR}, '%')
			</if>			
	</select>	
	
	<select id="getMonthSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CAL_YM
				  ,PREV_AMT
				  ,IN_AMT
				  ,OUT_AMT
				  ,NEXT_AMT
				  ,END_YN
			FROM MON_SUM
			WHERE CAL_YM = #{CAL_YM}
			]]>		
	</select>
	
	<select id="listInOutMonth" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT DATE_FORMAT(A.CAL_YMD, '%c.%e') CAL_YMD
			      ,SUM(B.INOUT_AMT ) INOUT_AMT
			FROM WEEK_SUM_DETL A,
				 WEEK_INOUT B,
				 WEEK_SUM C
			WHERE SUBSTR(A.CAL_YMD, 1, 6) = #{CAL_YM}
			AND A.INOUT_CAL_YMD = B.CAL_YMD  
			AND A.INOUT_SEQ_NO = B.INOUT_SEQ_NO
			AND A.CAL_YMD = C.CAL_YMD
			AND C.END_YN = 'Y'
			AND B.INOUT_CD = #{INOUT_CD}
			AND B.INOUT_AMT > 0
			GROUP BY A.CAL_YMD
            ORDER BY A.CAL_YMD			 				 
			]]>		
	</select>		
	
	<select id="getNextAmtMonth" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT NEXT_AMT, END_YN, CAL_YM
			FROM MON_SUM
			WHERE CAL_YM = (	SELECT MAX(CAL_YM) 
									FROM MON_SUM
									WHERE CAL_YM < #{CAL_YM} )
			]]>		
	</select>	
	
	<insert id="insertMonSum" parameterType="hashmap" >
		    <![CDATA[
		    INSERT INTO MON_SUM
		    ( CAL_YM
		     ,PREV_AMT
		     ,IN_AMT
		     ,OUT_AMT
		     ,NEXT_AMT
		     ,END_YN
		     ,UPD_ID
		     ,UPD_DATE
		     ,CRE_ID
		     ,CRE_DATE
		    ) 
			SELECT A.CAL_YM
			      ,IFNULL(B.NEXT_AMT,0)
			      ,IFNULL(C.IN_AMT,0)
			      ,IFNULL(C.OUT_AMT,0)
			      ,(IFNULL(B.NEXT_AMT,0) + IFNULL(C.IN_AMT,0) - IFNULL(C.OUT_AMT,0))
			      ,#{END_YN}
				  ,#{UPD_ID}
				  ,NOW()
				  ,#{CRE_ID}
				  ,NOW()			      
			FROM ( SELECT #{CAL_YM} CAL_YM ) A LEFT OUTER JOIN 
			     ( SELECT #{CAL_YM} CAL_YM
						       ,NEXT_AMT
						FROM MON_SUM
						WHERE CAL_YM = (	SELECT MAX(CAL_YM) 
												FROM MON_SUM
												WHERE CAL_YM < #{CAL_YM} )												
			      ) B ON A.CAL_YM = B.CAL_YM
					LEFT OUTER JOIN (
						SELECT #{CAL_YM} CAL_YM
						      ,SUM(IN_AMT) IN_AMT
						      ,SUM(OUT_AMT) OUT_AMT
						FROM WEEK_SUM
						WHERE SUBSTR(CAL_YMD,1,6) > (	SELECT MAX(CAL_YM)
										   FROM MON_SUM
										   WHERE CAL_YM < #{CAL_YM} )
						AND SUBSTR(CAL_YMD,1,6) <= #{CAL_YM}
				 ) C ON A.CAL_YM = C.CAL_YM
			]]>		
	</insert>	
	
	<select id="__getWeekSumLast" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CAL_YMD
				  ,PREV_AMT
				  ,IN_AMT
				  ,OUT_AMT
				  ,NEXT_AMT
				  ,WS_NM
				  ,END_YN
			FROM WEEK_SUM
			WHERE CAL_YMD = (	SELECT MAX(CAL_YMD) 
									FROM WEEK_SUM
									WHERE SUBSTR(CAL_YMD, 1, 6) = #{CAL_YM} )
			]]>		
	</select>	
	
	<select id="getWeekSumLast" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT SUM(IN_AMT) IN_AMT
			      ,SUM(OUT_AMT) OUT_AMT
			FROM WEEK_SUM
			WHERE SUBSTR(CAL_YMD,1,6) > (	SELECT MAX(CAL_YM)
							   FROM MON_SUM
							   WHERE CAL_YM < #{CAL_YM} )
			AND SUBSTR(CAL_YMD,1,6) <= #{CAL_YM}
			]]>		
	</select>	
	
	<delete id="deleteMonSum" parameterType="hashmap" >
		    <![CDATA[
		    DELETE FROM MON_SUM
			WHERE A.CAL_YM = #{CAL_YM}
			]]>		
	</delete>		
	
	<update id="updateMonthEndYn" parameterType="hashmap" >
		    <![CDATA[
		    UPDATE MON_SUM
		    SET END_YN = #{END_YN}
		       ,UPD_ID = #{UPD_ID}
		       ,UPD_DATE = NOW()
		    WHERE CAL_YM = #{CAL_YM}
			]]>		
	</update>
	
	<select id="listInYear" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CONCAT(SUBSTR(A.CAL_YMD, 5, 2), '월') CAL_YMD
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '01' THEN A.INOUT_AMT ELSE 0 END) AMT1
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '02' THEN A.INOUT_AMT ELSE 0 END) AMT2
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '03' THEN A.INOUT_AMT ELSE 0 END) AMT3
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '04' THEN A.INOUT_AMT ELSE 0 END) AMT4
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '05' THEN A.INOUT_AMT ELSE 0 END) AMT5
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD IN ('07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) AMT6
				    ,SUM(CASE WHEN A.INOUT_ITEM_CD NOT IN ('01','02','03','04','05','07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) AMT7
				    ,SUM(A.INOUT_AMT) SUMM
			FROM WEEK_INOUT A,
			     (
					SELECT CD_VAL, CD_NM
					FROM CODE
					WHERE HICD_VAL = 'DONA_CD'  
					AND USE_YN = 'Y'   
				  ) B
			WHERE A.CAL_YMD LIKE CONCAT(#{YEAR}, '%')
			]]>		
			<if test="YEAR == null or YEAR == ''">
			AND   1 = 0			
			</if>
			AND   A.INOUT_CD = '01'
			AND   A.INOUT_ITEM_CD = B.CD_VAL
			GROUP BY SUBSTR(A.CAL_YMD, 5, 2)		
	</select>
	
	<select id="listOutYear" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT B.CD_VAL, MIN(CD_NM) CD_NM, SUM(A.INOUT_AMT)  INOUT_AMT
			FROM WEEK_INOUT A,
			     (
					SELECT CD_VAL, CD_NM
					FROM CODE
					WHERE HICD_VAL = 'OUT_CD'
					AND USE_YN = 'Y'     
				  ) B
			WHERE A.CAL_YMD LIKE CONCAT(#{YEAR}, '%')
			]]>		
			<if test="YEAR == null or YEAR == ''">
			AND   1 = 0			
			</if>
			AND   A.INOUT_CD = '02'
			AND   A.INOUT_ITEM_CD = B.CD_VAL
			GROUP BY B.CD_VAL
	</select>
	
	<select id="listYearSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT A.CAL_YEAR PREV_CAL_YEAR
			       , IFNULL(A.SUM1_AMT,0) PREV_SUM1_AMT
			       , IFNULL(A.SUM2_AMT,0) PREV_SUM2_AMT
			       , IFNULL(A.SUM3_AMT,0) PREV_SUM3_AMT
			       , IFNULL(A.SUM4_AMT,0) PREV_SUM4_AMT
			       , IFNULL(A.SUM5_AMT,0) PREV_SUM5_AMT
			       , IFNULL(A.SUM6_AMT,0) PREV_SUM6_AMT
			       , IFNULL(A.SUM7_AMT,0) PREV_SUM7_AMT
			       , IFNULL(B.SUM1_AMT,0) SUM1_AMT
			       , IFNULL(B.SUM2_AMT,0) SUM2_AMT
			       , IFNULL(B.SUM3_AMT,0) SUM3_AMT
			       , IFNULL(B.SUM4_AMT,0) SUM4_AMT
			       , IFNULL(B.SUM5_AMT,0) SUM5_AMT
			       , IFNULL(B.SUM6_AMT,0) SUM6_AMT
			       , IFNULL(B.SUM7_AMT,0) SUM7_AMT      
			       , IFNULL(A.EXP_SUM1_AMT,0) EXP_SUM1_AMT
			       , IFNULL(A.EXP_SUM2_AMT,0) EXP_SUM2_AMT
			       , IFNULL(A.EXP_SUM2_AMT,0) EXP_SUM2_AMT
			       , IFNULL(A.EXP_SUM3_AMT,0) EXP_SUM3_AMT
			       , IFNULL(A.EXP_SUM4_AMT,0) EXP_SUM4_AMT
			       , IFNULL(A.EXP_SUM5_AMT,0) EXP_SUM5_AMT
			       , IFNULL(A.EXP_SUM6_AMT,0) EXP_SUM6_AMT
			       , IFNULL(A.EXP_SUM7_AMT,0) EXP_SUM7_AMT
			       , IFNULL(A.REMARK1,"") REMARK1
			       , IFNULL(A.REMARK2,"") REMARK2
			       , IFNULL(A.REMARK3,"") REMARK3
			       , IFNULL(A.REMARK4,"") REMARK4
			       , IFNULL(A.REMARK5,"") REMARK5
			       , IFNULL(A.REMARK6,"") REMARK6
			       , IFNULL(A.REMARK7,"") REMARK7
			FROM YEAR_SUM A LEFT OUTER JOIN (
						SELECT SUBSTR(A.CAL_YMD, 1, 4) CAL_YEAR
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '01' THEN A.INOUT_AMT ELSE 0 END) SUM1_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '02' THEN A.INOUT_AMT ELSE 0 END) SUM2_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '03' THEN A.INOUT_AMT ELSE 0 END) SUM3_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '04' THEN A.INOUT_AMT ELSE 0 END) SUM4_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '05' THEN A.INOUT_AMT ELSE 0 END) SUM5_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD IN ('07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) SUM6_AMT
							    ,SUM(CASE WHEN A.INOUT_ITEM_CD NOT IN ('01','02','03','04','05','07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) SUM7_AMT
						FROM WEEK_INOUT A,
						     (
								SELECT CD_VAL, CD_NM
								FROM CODE
								WHERE HICD_VAL = 'DONA_CD'  
								AND USE_YN = 'Y'   
							  ) B
						WHERE A.CAL_YMD LIKE CONCAT(#{YEAR}, '%')
						AND   A.INOUT_CD = '01'
						AND   A.INOUT_ITEM_CD = B.CD_VAL
						GROUP BY SUBSTR(A.CAL_YMD, 1, 4)
			     ) B ON  A.CAL_YEAR + 1 = B.CAL_YEAR
			 WHERE A.CAL_YEAR = #{YEAR}-1
			]]>		
	</select>	
	
	<select id="getYearSum" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT CAL_YEAR
				  ,IFNULL(SUM1_AMT,0) SUM1_AMT
				  ,IFNULL(SUM2_AMT,0) SUM2_AMT
				  ,IFNULL(SUM3_AMT,0) SUM3_AMT
				  ,IFNULL(SUM4_AMT,0) SUM4_AMT
				  ,IFNULL(SUM5_AMT,0) SUM5_AMT
				  ,IFNULL(SUM6_AMT,0) SUM6_AMT
				  ,IFNULL(SUM7_AMT,0) SUM7_AMT
				  ,IFNULL(EXP_SUM1_AMT,0) EXP_SUM1_AMT 
				  ,IFNULL(EXP_SUM2_AMT,0) EXP_SUM2_AMT 
				  ,IFNULL(EXP_SUM3_AMT,0) EXP_SUM3_AMT 
				  ,IFNULL(EXP_SUM4_AMT,0) EXP_SUM4_AMT 
				  ,IFNULL(EXP_SUM5_AMT,0) EXP_SUM5_AMT 
				  ,IFNULL(EXP_SUM6_AMT,0) EXP_SUM6_AMT 
				  ,IFNULL(EXP_SUM7_AMT,0) EXP_SUM7_AMT 
				  ,REMARK1
				  ,REMARK2
				  ,REMARK3
				  ,REMARK4
				  ,REMARK5
				  ,REMARK6
				  ,REMARK7
				  ,END_YN
			FROM YEAR_SUM
			WHERE CAL_YEAR = #{YEAR}
			]]>		
	</select>	

	<insert id="insertYearSum" parameterType="hashmap" >
		    <![CDATA[
				INSERT INTO YEAR_SUM(
					CAL_YEAR,
					SUM1_AMT,
					SUM2_AMT,
					SUM3_AMT,
					SUM4_AMT,
					SUM5_AMT,
					SUM6_AMT,
					SUM7_AMT,
					EXP_SUM1_AMT,
					EXP_SUM2_AMT,
					EXP_SUM3_AMT,
					EXP_SUM4_AMT,
					EXP_SUM5_AMT,
					EXP_SUM6_AMT,
					EXP_SUM7_AMT,
					REMARK1,
					REMARK2,
					REMARK3,
					REMARK4,
					REMARK5,
					REMARK6,
					REMARK7,
					END_YN,
					UPD_ID,
					UPD_DATE	,
					CRE_ID		,
					CRE_DATE	
					) 
					SELECT SUBSTR(A.CAL_YMD, 1, 4) CAL_YEAR
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '01' THEN A.INOUT_AMT ELSE 0 END) SUM1_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '02' THEN A.INOUT_AMT ELSE 0 END) SUM2_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '03' THEN A.INOUT_AMT ELSE 0 END) SUM3_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '04' THEN A.INOUT_AMT ELSE 0 END) SUM4_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD = '05' THEN A.INOUT_AMT ELSE 0 END) SUM5_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD IN ('07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) SUM6_AMT
						    ,SUM(CASE WHEN A.INOUT_ITEM_CD NOT IN ('01','02','03','04','05','07','08','10','11') THEN A.INOUT_AMT ELSE 0 END) SUM7_AMT
						    ,#{EXP_SUM1_AMT} EXP_SUM1_AMT
						    ,#{EXP_SUM2_AMT} EXP_SUM2_AMT
						    ,#{EXP_SUM3_AMT} EXP_SUM3_AMT
						    ,#{EXP_SUM4_AMT} EXP_SUM4_AMT
						    ,#{EXP_SUM5_AMT} EXP_SUM5_AMT
						    ,#{EXP_SUM6_AMT} EXP_SUM6_AMT
						    ,#{EXP_SUM7_AMT} EXP_SUM7_AMT
						    ,#{REMARK1} REMARK1
						    ,#{REMARK2} REMARK2
						    ,#{REMARK3} REMARK3
						    ,#{REMARK4} REMARK4
						    ,#{REMARK5} REMARK5
						    ,#{REMARK6} REMARK6
						    ,#{REMARK7} REMARK7
						,#{END_YN}
						,#{UPD_ID}
						,NOW()
						,#{CRE_ID}
						,NOW()
					FROM WEEK_INOUT A,
					     (
							SELECT CD_VAL, CD_NM
							FROM CODE
							WHERE HICD_VAL = 'DONA_CD'  
							AND USE_YN = 'Y'   
						  ) B
					WHERE A.CAL_YMD LIKE CONCAT(#{YEAR}, '%')
					AND   A.INOUT_CD = '01'
					AND   A.INOUT_ITEM_CD = B.CD_VAL
					GROUP BY SUBSTR(A.CAL_YMD, 1, 4)


			]]>		
	</insert>

	<delete id="deleteYearSum" parameterType="hashmap" >
		    <![CDATA[
		    DELETE FROM YEAR_SUM
			WHERE CAL_YEAR = #{YEAR}
			]]>		
	</delete>

	<update id="updateYearEndYn" parameterType="hashmap" >
		    <![CDATA[
		    UPDATE YEAR_SUM
		    SET END_YN = #{END_YN}
		       ,UPD_ID = #{UPD_ID}
		       ,UPD_DATE = NOW()
		    WHERE CAL_YEAR = #{YEAR}
			]]>		
	</update>
	
	<select id="getNextAmtYear" parameterType="hashmap" resultType="hashmap" >
		    <![CDATA[
			SELECT END_YN, CAL_YEAR
			FROM YEAR_SUM
			WHERE CAL_YEAR = (	SELECT MAX(CAL_YEAR) 
									FROM YEAR_SUM
									WHERE CAL_YEAR < #{YEAR} )
			]]>		
	</select>						
</mapper>
