@charset "utf-8";
* {margin:0; padding:0;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td{
	padding:0;
	margin:0;
	border: 0;
}

html,body {
	width:100%; height:100%;
	font-family:"Dotum","돋움";
	font-size:12px;
	line-height:18px;
	color:#666666;
	background-color:#ffffff;
	line-height:18px;
}

table {
	border: 0;
	border-collapse : collapse;
	border-spacing : 0;
}
img{border-style:none;}
ol,ul,li{list-style:none;}
textarea {font-size:100%;}
button {border:none; cursor:pointer; *overflow:visible}
button span {display:none;}

a {	color:#666666;	text-decoration:none;}
a:hover {	color:#3da3c1;	text-decoration:none;}


/*인풋박스*/ 
input{ font-family:"Gulim","굴림"; border:1px solid #e1e1e1; background-color:#fff; font-size:12px; height:12px; color:#777777; padding:5px; vertical-align:middle;}
	.input_none{vertical-align:middle; border-style:none; background:none;}
	.input_m {width:13px; height:13px; vertical-align:middle; border-style:none; background:none;}

select {background-color:#ffffff;  color:#777777; font-size:12px; vertical-align:middle;}
textarea {border:1px solid #e1e1e1; font-size:12px; font-family:"Dotum","돋움"; color:#777777; letter-spacing:normal; line-height:18px; overflow:auto; resize:none; padding:5px 10px; 5px 10px}

label {position:relative; top:3px;} /*익스8&크롬 */
	label, x:-moz-any-link, x:default {position:relative; top:1px;} /*파폭*/
	*html label {position:relative; top:1px;} /*익스6*/
	*:first-child+html label {position:relative; top:1px;} /*익스7*/

/*간격조정*/
.space5 {height:5px; font-size:0; line-height:0; display:block; clear:both;}
.space10 {height:10px; font-size:0; line-height:0; display:block; clear:both;}
.space15 {height:15px; font-size:0; line-height:0; display:block; clear:both;}
.space20 {height:20px; font-size:0; line-height:0; display:block; clear:both;}
.space30 {height:30px; font-size:0; line-height:0; display:block; clear:both;}
.space40 {height:40px; font-size:0; line-height:0; display:block; clear:both;}
.space50 {height:50px; font-size:0; line-height:0; display:block; clear:both;}
.space60 {height:60px; font-size:0; line-height:0; display:block; clear:both;}
.space80 {height:80px; font-size:0; line-height:0; display:block; clear:both;}
.spaceBottom {height:80px; font-size:0; line-height:0; display:block; clear:both;}