<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mvoipcenter.reqboard.online.service.BoardOnlineMapper">
	<select id="listBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline"
		 resultType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		    <![CDATA[
			SELECT BOARD_SEQ
				,BOARD_PART_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='BOARD_PART_CD' AND CD_VAL=A.BOARD_PART_CD) BOARD_PART_CD_NM
				,TITLE
				,CONTENT
				,PASSWORD
				,HIT_CNT
				,LOGIN_ID
				,COMPANY_NM
				,CUST_NM
				,TEL_NO1
				,TEL_NO2
				,TEL_NO3
				,EMAIL
				,VALIDKEY
				,REQ_SITE_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='REQ_SITE_CD' AND CD_VAL=A.REQ_SITE_CD) REQ_SITE_CD_NM
				,REPLY_STAT_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='REPLY_STAT_CD' AND CD_VAL=A.REPLY_STAT_CD) REPLY_STAT_CD_NM
				,REPLY_CONTENT
				,REPLY_ID
				,(SELECT ADMIN_NM FROM ADMIN_MEMBER WHERE LOGIN_ID = A.REPLY_ID) REPLY_NM
				,CAST( DATE_FORMAT( REPLY_DATE,'%Y.%m.%d' ) AS CHAR(10) ) REPLY_DATE
				,REPLY_DATE REPLY_DATE_TIME
				,CRE_ID
				,CAST( DATE_FORMAT( CRE_DATE,'%Y.%m.%d' ) AS CHAR(10) ) CRE_DATE
				,CRE_DATE CRE_DATE_TIME
				,UPD_ID
				,CAST( DATE_FORMAT( UPD_DATE,'%Y.%m.%d' ) AS CHAR(10) ) UPD_DATE
				,UPD_DATE UPD_DATE_TIME
			FROM BOARD_ONLINE A
			WHERE 1 = 1
			]]>
			<if test="BOARD_PART_CD != '' and BOARD_PART_CD != null">
			AND   	BOARD_PART_CD = #{BOARD_PART_CD}
			</if>
			<if test="LOGIN_ID != '' and LOGIN_ID != null">
			AND   	LOGIN_ID = #{LOGIN_ID}
			</if>
			<if test="SITE == 'CUSTOMER'">
			AND   	LOGIN_ID = #{LOGIN_ID}
			</if>			
			<if test="searchKeyword == 'TITLE' and searchValue != '' and searchValue != null">
			AND   	TITLE LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'CONTENT' and searchValue != '' and searchValue != null">
			AND   	CONTENT LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'LOGIN_ID' and searchValue != '' and searchValue != null">
			AND   	LOGIN_ID LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'COMPANY_NM' and searchValue != '' and searchValue != null">
			AND   	COMPANY_NM LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="REQ_SITE_CD != '' and REQ_SITE_CD != null">
			AND   	INSTR(#{REQ_SITE_CD}, REQ_SITE_CD) > 0
			</if>				
			<if test="REPLY_STAT_CD != '' and REPLY_STAT_CD != null">
			AND   	INSTR(#{REPLY_STAT_CD}, REPLY_STAT_CD) > 0
			</if>				
		    <![CDATA[
			ORDER BY BOARD_SEQ DESC
			LIMIT #{fromLimit} , #{toLimit}
			]]>
	</select>
	
	<select id="getRowCount" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline"
		 resultType="int" >
		    <![CDATA[
			SELECT COUNT(*) ROWCOUNT
			FROM BOARD_ONLINE
			WHERE 1 = 1
			]]>
			<if test="BOARD_PART_CD != '' and BOARD_PART_CD != null">
			AND   	BOARD_PART_CD = #{BOARD_PART_CD}
			</if>	
			<if test="LOGIN_ID != '' and LOGIN_ID != null">
			AND   	LOGIN_ID = #{LOGIN_ID}
			</if>
			<if test="SITE == 'CUSTOMER'">
			AND   	LOGIN_ID = #{LOGIN_ID}
			</if>			
			<if test="searchKeyword == 'TITLE' and searchValue != '' and searchValue != null">
			AND   	TITLE LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'CONTENT' and searchValue != '' and searchValue != null">
			AND   	CONTENT LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'LOGIN_ID' and searchValue != '' and searchValue != null">
			AND   	LOGIN_ID LIKE CONCAT('%', #{searchValue} , '%')
			</if>
			<if test="searchKeyword == 'COMPANY_NM' and searchValue != '' and searchValue != null">
			AND   	COMPANY_NM LIKE CONCAT('%', #{searchValue} , '%')
			</if>	
			<if test="REQ_SITE_CD != '' and REQ_SITE_CD != null">
			AND   	INSTR(#{REQ_SITE_CD}, REQ_SITE_CD) > 0
			</if>				
			<if test="REPLY_STAT_CD != '' and REPLY_STAT_CD != null">
			AND   	INSTR(#{REPLY_STAT_CD}, REPLY_STAT_CD) > 0
			</if>					
		    <![CDATA[			
			]]>
	</select>
	
	<select id="getBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline"
		 resultType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		    <![CDATA[
			SELECT BOARD_SEQ
				,BOARD_PART_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='BOARD_PART_CD' AND CD_VAL=A.BOARD_PART_CD) BOARD_PART_CD_NM
				,TITLE
				,CONTENT
				,PASSWORD
				,HIT_CNT
				,LOGIN_ID
				,COMPANY_NM
				,CUST_NM
				,TEL_NO1
				,TEL_NO2
				,TEL_NO3
				,EMAIL
				,VALIDKEY
				,REQ_SITE_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='REQ_SITE_CD' AND CD_VAL=A.REQ_SITE_CD) REQ_SITE_CD_NM
				,REPLY_STAT_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='REPLY_STAT_CD' AND CD_VAL=A.REPLY_STAT_CD) REPLY_STAT_CD_NM
				,REPLY_CONTENT
				,REPLY_ID
				,(SELECT ADMIN_NM FROM ADMIN_MEMBER WHERE LOGIN_ID = A.REPLY_ID) REPLY_NM
				,CAST( DATE_FORMAT( REPLY_DATE,'%Y.%m.%d' ) AS CHAR(10) ) REPLY_DATE
				,REPLY_DATE REPLY_DATE_TIME
				,CRE_ID
				,CAST( DATE_FORMAT( CRE_DATE,'%Y.%m.%d' ) AS CHAR(10) ) CRE_DATE
				,CRE_DATE CRE_DATE_TIME
				,UPD_ID
				,CAST( DATE_FORMAT( UPD_DATE,'%Y.%m.%d' ) AS CHAR(10) ) UPD_DATE
				,UPD_DATE UPD_DATE_TIME
			FROM BOARD_ONLINE A
			WHERE BOARD_SEQ = #{BOARD_SEQ}
			]]>
	</select>
	
	<select id="getBoardPrev" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline"
		 resultType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		    <![CDATA[
			SELECT BOARD_SEQ
				,BOARD_PART_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='BOARD_PART_CD' AND CD_VAL=A.BOARD_PART_CD) BOARD_PART_CD_NM
				,TITLE
				,CONTENT
				,PASSWORD
				,HIT_CNT
				,LOGIN_ID
				,COMPANY_NM
				,CUST_NM
				,TEL_NO1
				,TEL_NO2
				,TEL_NO3
				,EMAIL
				,VALIDKEY
				,REQ_SITE_CD
				,REPLY_STAT_CD
				,REPLY_CONTENT
				,REPLY_ID
				,REPLY_DATE
				,CRE_ID
				,CAST( DATE_FORMAT( CRE_DATE,'%Y.%m.%d' ) AS CHAR(10) ) CRE_DATE
				,UPD_ID
				,CAST( DATE_FORMAT( UPD_DATE,'%Y.%m.%d' ) AS CHAR(10) ) UPD_DATE
			FROM BOARD_ONLINE A
			WHERE BOARD_SEQ < #{BOARD_SEQ}
			]]>
			<if test="BOARD_PART_CD != '' and BOARD_PART_CD != null">
			AND   	BOARD_PART_CD = #{BOARD_PART_CD}
			</if>
			<if test="SITE == 'CUSTOMER'">
			AND   	A.LOGIN_ID = #{LOGIN_ID}
			</if>							
			ORDER BY BOARD_SEQ DESC
			LIMIT 1
	</select>
	
	<select id="getBoardNext" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline"
		 resultType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		    <![CDATA[
			SELECT BOARD_SEQ
				,BOARD_PART_CD
				,(SELECT CD_NM FROM CODE WHERE HICD_VAL='BOARD_PART_CD' AND CD_VAL=A.BOARD_PART_CD) BOARD_PART_CD_NM
				,TITLE
				,CONTENT
				,PASSWORD
				,HIT_CNT
				,LOGIN_ID
				,COMPANY_NM
				,CUST_NM
				,TEL_NO1
				,TEL_NO2
				,TEL_NO3
				,EMAIL
				,VALIDKEY
				,REQ_SITE_CD
				,REPLY_STAT_CD
				,REPLY_CONTENT
				,REPLY_ID
				,REPLY_DATE
				,CRE_ID
				,CAST( DATE_FORMAT( CRE_DATE,'%Y.%m.%d' ) AS CHAR(10) ) CRE_DATE
				,UPD_ID
				,CAST( DATE_FORMAT( UPD_DATE,'%Y.%m.%d' ) AS CHAR(10) ) UPD_DATE
			FROM BOARD_ONLINE A
			WHERE BOARD_SEQ > #{BOARD_SEQ}
			]]>
			<if test="BOARD_PART_CD != '' and BOARD_PART_CD != null">
			AND   	BOARD_PART_CD = #{BOARD_PART_CD}
			</if>	
			<if test="SITE == 'CUSTOMER'">
			AND   	A.LOGIN_ID = #{LOGIN_ID}
			</if>						
			ORDER BY BOARD_SEQ ASC
			LIMIT 1
	</select>	
	
	<insert id="insertBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		<![CDATA[
				INSERT INTO BOARD_ONLINE (
					 BOARD_PART_CD
					,TITLE
					,CONTENT
					,PASSWORD
					,HIT_CNT
					,LOGIN_ID
					,COMPANY_NM
					,CUST_NM
					,TEL_NO1
					,TEL_NO2
					,TEL_NO3
					,EMAIL
					,VALIDKEY
					,REQ_SITE_CD
					,REPLY_STAT_CD
					,REPLY_CONTENT
					,REPLY_ID
					,REPLY_DATE
					,CRE_ID
					,CRE_DATE
					,UPD_ID
					,UPD_DATE
				)VALUES(
				   #{BOARD_PART_CD}
			      ,#{TITLE}
				  ,#{CONTENT}
			      ,#{PASSWORD}
			      ,0
			      ,#{LOGIN_ID}
			      ,#{COMPANY_NM}
			      ,#{CUST_NM}
			      ,#{TEL_NO1}
			      ,#{TEL_NO2}
			      ,#{TEL_NO3}			      
			      ,#{EMAIL}
			      ,#{VALIDKEY}
			      ,#{REQ_SITE_CD}
				  ,'01'
				  ,#{REPLY_CONTENT}
				  ,#{REPLY_ID}
				  ,#{REPLY_DATE}			      
			      ,#{CRE_ID}
			      ,NOW()
			      ,#{UPD_ID}
			      ,NOW()
				)
        ]]>
	</insert>	
	
	<update id="updateHitCnt" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		<![CDATA[
				UPDATE BOARD_ONLINE
				SET HIT_CNT = HIT_CNT + 1
				WHERE BOARD_SEQ = #{BOARD_SEQ}
        ]]>
	</update>	
	
	<update id="updateBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		<![CDATA[
				UPDATE BOARD_ONLINE
				SET  UPD_ID = #{UPD_ID}
				    ,UPD_DATE = NOW()
        ]]>
			<if test="TITLE  != '' and TITLE != null">
				    ,TITLE = #{TITLE}
			</if>        
			<if test="CONTENT  != '' and CONTENT != null">
					,CONTENT = #{CONTENT}
			</if>        
			<if test="PASSWORD  != '' and PASSWORD != null">
					,PASSWORD = #{PASSWORD
			</if>        
			<if test="LOGIN_ID  != '' and LOGIN_ID != null">
					,LOGIN_ID = #{LOGIN_ID}
			</if>        
			<if test="COMPANY_NM  != '' and COMPANY_NM != null">
					,COMPANY_NM = #{COMPANY_NM}
			</if>        
			<if test="CUST_NM  != '' and CUST_NM != null">
					,CUST_NM = #{CUST_NM}
			</if>        
			<if test="TEL_NO1  != '' and TEL_NO1 != null">
					,TEL_NO1 = #{TEL_NO1}
			</if>        
			<if test="TEL_NO2  != '' and TEL_NO2 != null">
					,TEL_NO2 = #{TEL_NO2}
			</if>        
			<if test="TEL_NO3  != '' and TEL_NO3 != null">
					,TEL_NO3 = #{TEL_NO3}
			</if>        
			<if test="EMAIL  != '' and EMAIL != null">
					,EMAIL = #{EMAIL}
			</if>        
			<if test="VALIDKEY  != '' and VALIDKEY != null">
					,VALIDKEY = #{VALIDKEY}
			</if>        
				WHERE BOARD_SEQ = #{BOARD_SEQ}
	</update>	
	
	<update id="replyBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		<![CDATA[
				UPDATE BOARD_ONLINE
				SET  REPLY_STAT_CD = #{REPLY_STAT_CD}
					,REPLY_CONTENT = #{REPLY_CONTENT}
					,REPLY_ID = #{REPLY_ID}
					,REPLY_DATE	 = NOW()			
				    ,UPD_ID = #{UPD_ID}
				    ,UPD_DATE = NOW()
				    ,CONTENT = #{CONTENT}
				WHERE BOARD_SEQ = #{BOARD_SEQ}
        ]]>
	</update>	
	
	<delete id="deleteBoard" parameterType="com.mvoipcenter.reqboard.online.domain.BoardOnline" >
		<![CDATA[
				DELETE FROM BOARD_ONLINE
				WHERE BOARD_SEQ = #{BOARD_SEQ}
        ]]>
	</delete>	

	
</mapper>
