<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mvoipcenter.common.cal.service.CalMapper">
	<select id="listCal" parameterType="com.mvoipcenter.common.cal.domain.Cal"
		 resultType="com.mvoipcenter.common.cal.domain.Cal" >
		    <![CDATA[
			SELECT CAL_SEQ
			      ,CAL_YEAR
			      ,CAL_MON
			      ,CAL_DAY
			      ,CAL_LOC
			FROM CAL
			WHERE CAL_YEAR = #{CAL_YEAR}
			AND   	CAL_MON = #{CAL_MON}
			]]>
			<if test="CAL_DAY != '' and CAL_DAY != null">
			AND   	CAL_DAY = #{CAL_DAY}
			</if>
			<if test="CAL_SEQ != '' and CAL_SEQ != null">
			AND   	CAL_SEQ = #{CAL_SEQ}
			</if>
		    ORDER BY CAL_MON, CAL_DAY
	</select>
	
	<select id="getCal" parameterType="com.mvoipcenter.common.cal.domain.Cal"
		 resultType="com.mvoipcenter.common.cal.domain.Cal" >
		    <![CDATA[
			SELECT CAL_SEQ
			      ,CAL_YEAR
			      ,CAL_MON
			      ,CAL_DAY
			      ,CAL_LOC
			FROM CAL
			WHERE CAL_SEQ = #{CAL_SEQ}
			]]>
	</select>
	
	
</mapper>
