<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="lc.common.code.service.grid.GridCommonCodeMapper">

    <select id="listGroup" resultType="hashmap"  parameterType="hashmap" >
			<![CDATA[
			    SELECT  CD_VAL
			        ,   HICD_VAL
			        ,   CD_NM
			        ,   ORD_NO
			        ,   USE_YN
			        ,   ETC1_VAL
			        ,   ETC2_VAL
			    FROM    CODE
			    WHERE   HICD_VAL = 'ROOT'
			    AND     USE_YN     =       'Y'                     
			]]> 
			ORDER BY ${sidx} ${sord} 
			LIMIT ${page}, ${rows}		    
    </select>	

	<select id="listGroupCount" parameterType="hashmap" resultType="int" >
		    <![CDATA[
			SELECT   COUNT(*) ROWCOUNT
			FROM CODE
			WHERE HICD_VAL = 'ROOT'
			AND   USE_YN     =       'Y' 
			]]>		
	</select>
    
    <select id="listDetailCode" resultType="hashmap"  parameterType="hashmap"  >
		    SELECT  CD_VAL
		        ,   HICD_VAL
		        ,   CD_NM
		        ,   ORD_NO
		        ,   USE_YN
		        ,   ETC1_VAL
		        ,   ETC2_VAL
		    FROM    CODE
		    WHERE   HICD_VAL = #{HICD_VAL}
		    AND     USE_YN     =       'Y'                     
		    ORDER BY ORD_NO
    </select>
    
	<insert id="insertCode" parameterType="hashmap" >
		    INSERT INTO CODE (
		            CD_VAL
		        ,   HICD_VAL
		        ,   CD_NM
		        ,   ORD_NO
		        ,   USE_YN
		        ,   ETC1_VAL
		        ,   ETC2_VAL
		    ) VALUES
		    (
		            #{CD_VAL}
		        ,   #{HICD_VAL}
		        ,   #{CD_NM}
		        ,   #{ORD_NO,jdbcType=VARCHAR}
		        ,   #{USE_YN,jdbcType=VARCHAR}
		        ,   #{ETC1_VAL,jdbcType=VARCHAR}
		        ,   #{ETC2_VAL,jdbcType=VARCHAR}
		        		    
		    )
    </insert>  
    
    <update id="updateCode" parameterType="hashmap" >
		    UPDATE  CODE
		    SET     CD_NM            =   #{CD_NM}
		        ,   ORD_NO           =   #{ORD_NO}
		        ,   USE_YN           =   #{USE_YN}
		        ,   ETC1_VAL         =   #{ETC1_VAL}
		        ,   ETC2_VAL         =   #{ETC2_VAL}
		    WHERE   HICD_VAL         =   #{HICD_VAL}
		    AND     CD_VAL           =   #{CD_VAL}
    </update>  
    
    <delete id="deleteCode" parameterType="hashmap" >
		    UPDATE  CODE
		    SET     USE_YN      =   #{USE_YN}
		    WHERE   HICD_VAL         =   #{HICD_VAL}
		    AND     CD_VAL           =   #{CD_VAL}
    </delete>    
    
	<select id="getForDeleteCode" parameterType="hashmap" resultType="int">
			SELECT COUNT(B.CD)
			FROM CODE A
			    ,CODE B
			WHERE A.HICD_VAL = B.CD_VAL
			AND   A.CD_VAL = #{CD_VAL}
			AND   B.USE_YN = 'Y'
	</select>	
	
	<select id="getCommSubCd" parameterType="hashmap" resultType="hashmap">
		SELECT CD_VAL CD
		       ,CD_NM
		FROM CODE
		WHERE HICD_VAL = #{CD}
		AND   USE_YN = 'Y'
		ORDER BY ORD_NO
	</select>	        		   
</mapper>
