<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="%p - %C{1}.%M(%L) | %m%n"/> -->
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] %-5p [%c] : %m%n" />
        </layout>
    </appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/usr/local/tomcat6/logs/customer.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%c] %m%n" />
		</layout>
	</appender>

    <logger name="net.sf.ehcache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="com.opensymphony">
        <level value="WARN"/>
    </logger>

    <logger name="org.mybatis">
        <level value="WARN"/>
    </logger>
    
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <!--logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger-->

    <!-- Suppress warnings from Commons Validator -->
    <logger name="org.apache.commons.validator.ValidatorResources">
        <level value="ERROR"/>
    </logger>

    <!-- Suppress invalid warning messages from JSF -->
    <logger name="org.apache.myfaces.shared_impl.renderkit.html">
        <level value="ERROR"/>
    </logger>
    
    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>
   
    <logger name="freemarker">
        <level value="WARN"/>
    </logger>
   
    <logger name="com.mvoipcenter">
        <level value="WARN"/>
    </logger>
   
    <logger name="com.mvoipcenter.common.call">
        <level value="DEBUG"/>
    </logger>
   
    <logger name="com.mvoipcenter.common.util.ServiceConnector">
        <level value="DEBUG"/>
    </logger>

	<logger name="java.sql">
		<level value="DEBUG" />
	</logger>
	<!-- 
	<logger name="java.sql.Connection">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE"/>
	</logger>
	<logger name="java.sql.ResultSet">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE"/>
	</logger>
	-->
	
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
